.box{
  flex-direction: column;
  display: inline-block;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.bilet{
  border: 3px dotted black;
  border-radius: 20px;
  width: 260px;
  margin: auto;
}
